.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 100px);
  width:fit-content;
}

.cell, .container {
  border: 1px solid #008080;
  background-color: #00CCCC;
  cursor: pointer;
}

.hidden{
  display: none;
}

.disabled {
  background-color: #333333;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}