.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 100px);
  width:fit-content;
}

.cell, .container {
  border: 1px solid rgb(47, 47, 235);
  background-color: rgb(100, 100, 149);
  cursor: pointer;
}

.hidden{
  display: none;
}

.disabled {
  background-color: rgb(216, 216, 235);
}